<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xdgdg.tripguide_xidian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:name="org.xdgdg.tripguide_xidian.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.xdgdg.tripguide_xidian.Welcome"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xdgdg.tripguide_xidian.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.xdgdg.tripguide_xidian.DestinationActivity"
            android:label="@string/title_activity_destination"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.xdgdg.tripguide_xidian.MyRouteActivity"
            android:label="@string/title_activity_my_route"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.xdgdg.tripguide_xidian.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baidu.map_tool.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.baidu.map_tool.result_mapActivity"
            android:label="@string/title_activity_show_route" >
        </activity>
        <activity
            android:name="com.baidu.map_tool.main_mapActivity"
            android:label="map"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>